$eth-identicon-dimension: 40px;

.eth-account-button-wrapper {
    button {
        border-radius: 10px;
        min-height: 40px;
        &:not(.primary) {
            border: solid 2px #0A578F;
        }
    }
    .ethereum-address-badge {
        // Identity badge level and below should have adjusted dimensions
        > div {
            div {
                height: $eth-identicon-dimension;
                width: $eth-identicon-dimension;
                canvas {
                    height: $eth-identicon-dimension !important;
                    width: $eth-identicon-dimension !important;
                }
            }
        }
    }
}