$hardcoded-bar-height: 64px;    // Change height of bar here
$eth-identicon-dimension: 40px;

div.top-bar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(white, 0.95);
    // Border CSS is separated into individual components because regular "border" property was causing inconsistent behavior on transition
    border-bottom: solid 1px;
    border-bottom-color: #DDE4E9 !important;    // Enforces border color to avoid weird black transition glitch
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-sizing: border-box;
    height: $hardcoded-bar-height !important;
    margin-bottom: 0;
    padding: 4px;
    transition: all 0.3s ease-in-out;
    width: 100vw;
    z-index: 1000;
    &:not(.solid) {
        background: transparent;
        border-bottom: none;
        border-width: 0px;
    }
    .action-buttons {
        display: flex;
        #osmBtn {
            min-width: 40px;
        }
        button {
            border-radius: 10px;
            margin-left: 20px;
            min-height: 40px;
            &:not(.primary) {
                border: solid 2px #0A578F;
            }
        }
        .ethereum-address-badge {
            // Identity badge level and below should have adjusted dimensions
            > div {
                div {
                    height: $eth-identicon-dimension;
                    width: $eth-identicon-dimension;
                    canvas {
                        height: $eth-identicon-dimension !important;
                        width: $eth-identicon-dimension !important;
                    }
                }
            }
        }
    }
}

.top-bar-fixed-buffer {
    padding-bottom: $hardcoded-bar-height;
}