.options-table-view-wrapper {
    &.table {
        .expiration-container {
            align-items: center;
        }
    }
    .option-type {
        border-radius: 12px;
        box-sizing: border-box;
        color: white;
        font-weight: bold;
        width: 60px;
        padding: 5px;
        text-align: center;
        &.call {
            background-image: linear-gradient(190deg, #1f3f1f -100%, #6AD66A 50%);
        }
        &.put {
            background-image: linear-gradient(190deg, #3b2416 -100%, #f72424 50%);
        }
    }
    .options-pair-link {
        color: #0A578F;
        font-weight: 600;
        transition: color 0.3s ease-in-out;
        &:hover,
        &:focus {
            color: rgba(#0A578F, 0.7);
        }
    }
    .expiration-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .time-zone {
            font-size: 10px;
        }
    }
    .entry-actions-wrapper {
        display: flex;
        align-items: center;
        .entry-flag {
            cursor: pointer;
            margin-right: 15px;
        }
    }
}

.popover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -400px;
    z-index: 1000;
    padding: 20px;
    width: 400px;
    background: rgb(223, 223, 223);
    transition: 1s;
    &.active {
        right: 0
    }
    .header-block {
        display: flex;
        .pair-block {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: #0A578F;
            border-right: 1px solid gray;
            width: 50%;
        }
        .price-block {
            width: 50%;
            margin-left: 15px;
        }
    }
}