.header-wrapper {
    .header-links-container {
        text-align: center;
        a {
            color: #0A578F;
            font-size: 18px;
            font-weight: 500;
            margin: 0 20px;
        }
    }
}